* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #e7cbae;
    
}

/*Header Section */

header {
    background-color: #927397;
    height: 100px;
    width: 100%;
    
}

#logo {
    color: white;
    float: left;
    font-size: 240%;
    margin-left: 80px;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
} 

/* Navigation Section */

#menu {
    font-size: 150%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}


#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/stones.jpg') no-repeat center center;
    margin-top: 15px;
    
}

#cover-text {
    color: white;
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 500px;
    height: 200px;
    margin-left: 30px;
    padding-top: 20px;
    padding-left: 50px;

    background-color: rgba(21, 146, 84, 0.4);

    bottom: 100px;
    left: 30px;

    position: absolute;
}

#sign-up {
    margin-top: 15px;
    background-color: #927397;
    height: 60px;
    
    
}

#sign-up h2 {
    color: white;
    font-size: 130%;
    text-align: center;
    padding-top: 15px;
}

button {
    margin-left: 25px;
    background-color: blue;
    color: white;
    width: 100px;
    height: 30px;
}


/*Welcome Section */

.welcome {
    background-color: #9fa4c4;
    background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
    margin: 10px 0 10px 0;
    display: flex;
    

}

.introduction p {
    color: white;
    font: 180%;
    text-align: justify;
    font-family: Roboto, sans-serif;
    margin: 10px;
    line-height: 1.8;
}

.introduction {
    float: right;
    width: 60%;
    display: block;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.peaceful {
    width: 40%;
    float: left;
    display: block;
    padding: 5px;
}





.container-class {
    display: flex;
    height: 450px;
    background-color: pink;
    
        }
  


.feature-image {
    height: 220px;
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
   
    


.feature-title {
    text-align: center;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 150%;
}

.box-info {
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 100%;
    text-align: justify;

}

#leftbox {
    float:left; 
    width:28%;
    margin: 20px;
    border: 1px solid black;
    background-color: white;
    display: inline-flex;
    
   
}
#middlebox{
    float:center; 
    width:28%;
    margin: 20px;
    border: 1px solid black;
    background-color: white;
    display: inline-flex;
    
}
#rightbox{
    float:right;
    width:28%;
    margin: 20px;
    border: 1px solid black;
    background-color: white;
    display: inline-flex;
    
}

footer {
    clear: both;
    margin: 10px 0 10px 0;
    background-color: #927397;
    height: 300px;
    width: 100%;
}

/*technique page */
.body {
    background-color: mediumorchid;
    height: 600px;

}

.mind {
    background-color:violet;
    height: 600px;
}

.spirit {
    background-color:deeppink;
    height: 600px;
    
}

.ornate {
    text-align: Center;
    word-spacing: 20%;
    font-size: 220%;
    color: white;
    padding: 15px;
    font-family: 'Caudex', serif;
    
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid white;
    height: 200px;
}  

.flex-child:first-child {
    margin-left: 15px;
} 

/* Form */

.form-section {
    clear: left;
    background: url("");
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.signup-form {
    margin: 150px 15% 0 0;
    color: black;
    background-color: rgba(135, 18, 212, 0.6);
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 30px;
    border-radius: 20%;
    
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
    
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    
}

.text-input:hover{
    border-color: #25043b;
    
}

.join-button {
    margin-top: 20px;
    border-radius: 12px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #270336;
    color: #fafafa;
    display: block;

}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}
