
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #e7cbae;
    
}

/*Header Section */

header {
    background-color: #927397;
    height: 100px;
    width: 100%;
    
}

#logo {
    color: white;
    float: left;
    font-size: 240%;
    margin-left: 80px;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
} 

/* Navigation Section */

#menu {
    font-size: 150%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}


#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/stones.jpg') no-repeat center center;
    margin-top: 15px;
    
}
